Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Flask==2.3.3
Jinja2
SQLAlchemy==2.0.41
WTForms==3.2.1
email_validator==2.2.0
gunicorn==21.2.0
kaleido==0.2.1
matplotlib-inline
matplotlib==3.10.1
numpy==2.2.5
openpyxl==3.1.5
pandas-datareader==0.10.0
pandas==2.2.3
peewee==3.18.1
requests==2.32.3
scipy==1.15.2
weasyprint==65.1
yfinance==0.2.58
seaborn==0.13.2
