{% extends 'layout.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>About Nava Robo Advisor</h1>
    <p>
      Nava Robo Advisor is an academic project developed for a university project on Big Data and Sustainable Finance. The aim is to enable individuals to build environmentally responsible ETF portfolios using data-driven optimization strategies.
    </p>

<br>
<p>
  This application uses real-time ETF data from Yahoo Finance and simulates portfolio strategies such as Minimum Variance, Maximum Expected Return, and Maximum Sharpe Ratio. Users can interact with visual outputs like cumulative returns, volatility diagrams, and asset allocation over time.
</p>
<br>
<p>
  Whether you're a registered user or a guest, the platform allows easy simulation and download of results. Authenticated users can also track and view their past simulations.
</p>
<br>
<h1>Our Mission</h1>
<p>
  To promote sustainable investing by providing transparent, accessible tools for portfolio optimization and education in environmental finance.
</p>
<br>
<h1>Credits</h1>
<ul>
  <li>Developed by students of Master's in Business Intelligence & Data Science, ISM Dortmund</li>
  <li>Supported by ISM Dortmund & Infomotion</li>
  <li>Guided by Prof. Marcus Becker & Joerg Thiemann</li>
</ul>

  </div>
{% endblock %}